.toggle-button:selected, .toggle-button:selected:focused {
  -fx-background-color: -color-base-0;
  -fx-text-fill: -color-button-fg-selected;
  -fx-background-insets: 0;
}

.lock-button {
  -fx-background-image: url('padlock-unlock.png');
  -fx-background-size: 25px 25px;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
}

.lock-button:selected, .lock-button:selected:focused {
  -fx-background-image: url('secured-lock.png');
  -fx-background-size: 25px 25px;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
}

.custom-border {
-fx-border-style: solid inside;
-fx-border-width: 2;
-fx-border-insets: 5;
-fx-border-radius: 5;
-fx-border-color: -color-base-2;
}