.toggle-button:selected, .toggle-button:selected:focused {
  -fx-background-color: -color-base-0;
  -fx-text-fill: -color-button-fg-selected;
  -fx-background-insets: 0;
}



.custom-border {
-fx-border-style: solid inside;
-fx-border-width: 2;
-fx-border-insets: 5;
-fx-border-radius: 5;
-fx-border-color: -color-base-2;
}